<!DOCTYPE html>
<html>
  <head>
    <title>ReUrl Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ReUrl Service</h1>
    <p>plz enter target URL</p>
    <form action="/reurl" method="POST">
      Target:<input type="text" name="target">
      ReURL:<input type="text" name="short">
      <button type="submit">enter</button>
    </form>
    
  </body>
</html>
